<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.Feature02.WorkoutFinish.WorkoutFinishActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Feature02.WorkoutSequence.WorkoutSequenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Feature02.WorkoutStart.WorkoutStartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Feature02.WorkoutPlanDetail.WorkoutPlanDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Feature02.WorkoutValidation.WorkoutValidationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Feature02.WorkoutList.WorkoutListActivity"
            android:exported="false" />
      <activity
            android:name=".ui.Feature02.WorkoutPreference.WorkoutPreferenceActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PredictActivity"

            android:exported="false" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>